*.swp
*.pyc
logfile.txt
pylog*
*.bak
.vagrant
mysql_init
modules/twitter_credentials.py
modules/youtube_credentials.py
modules/meme_credentials.py
modules/imgur_credentials.py
modules/bing_credentials.py
*.db
pickle/*
venv/*
*.dat
praw.ini
r6_cred.py
